<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="startupscript" value="..\pyRevitLoader.py" />
      <add key="lib" value="..\Lib" />
      <add key="htmlstyle" value="font-size:13;font-family:Verdana;" />
      <add key="errordiv" value="&lt;div style=&quot;background:#EEE;padding:10;&quot;&gt;&lt;/div&gt;" />
      <add key="dotneterrtitle" value="&lt;strong&gt;Script Executor Traceback:&lt;/strong&gt;" />
      <add key="ipyerrtitle" value="&lt;strong&gt;IronPython Traceback:&lt;/strong&gt;" />
      <add key="defaultelement" value="&lt;div&gt;&lt;/div&gt;" />
    </appSettings>
</configuration>
