<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="startupscript" value="..\pyRevitLoader.py" />
      <add key="lib" value="..\Lib" />
      <add key="htmlstyle" value="font-size:12;font-family:Verdana;" />
      <add key="errordiv" value="&lt;div style=&quot;background:#EEE;&quot;&gt;" />
    </appSettings>
</configuration>
