# ignore everything in extension/ folder except for the native pyRevit.extension
extensions/*
!extensions/pyRevit.extension/

# ignore pyCharm workspace settings
.idea/

# ignore third-party lib folder
lib/*

# ignore Goodsync cache folder
_gsdata_/

# ignore standard python and os temp files
__py*
*.db
.DS_Store

# ignore uninstaller files that will be copied to this folder at installation
unins*