# ignore everything in extension/ folder except for the native pyRevit.extension
extensions/*
!extensions/pyRevitCore.extension/
!extensions/pyRevitDevTools.extension/
!extensions/pyRevitTools.extension/
!extensions/Rhino3dmIO.lib/
!extensions/extensions.json
!extensions/README.md

# ignore third-party lib folder
lib/*
!lib/README.md
!lib/enum
!lib/customcollections

# ignore pyCharm workspace settings
.idea/workspace.xml

# ignore sphinx build files
docs/_*

# ignore release files
release/*.exe
release/setupmaker/output/*

# ignore uninstaller files that will be copied to this folder at installation
unins*.dat
unins*.exe

# ignore Goodsync cache folder
_gsdata_/

# ignore standard python and os temp files
__py*
*.db
.DS_Store

# ignore sphinx files
*.pyc
