[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"
black = "*"

[packages]
docopt = "*"
requests = "*"
pygount = "*"
pyyaml = ">=5.4"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
pyrevit = "python ./dev/pyrevit.py"
