[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-rtd-theme = "*"
pygments = "*"
sphinx = "*"
readthedocs-sphinx-ext = "*"
"doc8" = "*"
urllib3 = "==1.24.2"
jinja2 = "==2.10.1"

[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "2.7"
