[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx-rtd-theme = "*"
pygments = "*"
sphinx = "*"
readthedocs-sphinx-ext = "*"
"doc8" = "*"

[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "2.7"
