body {
	color: #233749;
	font-family: Consolas;
	font-size: 9pt;
	height: 100%;
	margin: 0 0 15px 0;
	padding: 0;
	padding-top: 3px;
	scrollbar-arrow-color: #233749;
	scrollbar-base-color: white;
	scrollbar-face-color: #DDD;
	scrollbar-highlight-color: white;
	scrollbar-shadow-color: white;
	scrollbar-track-color: white;
}

table {
	border-collapse: collapse;
	width: 100%
}

table, th, td {
	border-bottom: 1px solid #aaa;
	padding: 5px;
}

th {
	background-color: #233749;
	color: white;
}

tr:nth-child(odd) {
	background-color: #f2f2f2
}

/* tr:last-child {
	background: #233749;
} */

.entry {
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	word-wrap: break-word;
}

.errorentry {
	background: #f9f2f4;
	border-radius: 0;
	border-top: 5px solid #c7254e;
	color: #c7254e;
	margin-top: 10px;
	padding: 6px;
}

.logdefault {
	border-radius: 0;
	/* margin: 10px 0 10px 0; */
	padding: 6px;
}

.logsuccess {
	background: #f7f9f2;
	color: #618401;
}

.logerror {
	background: #f9f2f4;
	color: #c7254e;
}

.logwarning {
	background: #F7F3F2;
	color: #E17700;
}

.logcritical {
	background: #c7254e;
	color: white;
}

.logdeprecate {
	background: #ffd900;
	color: #974901;
}

.coreupdatewarn {
	background: #F7F3F2;
	color: #E17700;
	padding: 20px;
	margin: 10px 0px 10px 0px;
	border: 1px solid #C64325; 
}

.inlinewait {
	border-radius: 0;
	border: 1px solid #2c3e50;
	color: #2c3e50;
	margin: 6px;
	padding: 6px;
	padding-bottom: 8px;
	word-wrap: break-word;
}

.emoji {
	/*filter: gray;*/
	/*filter: alpha(opacity=50);*/
	height: 14pt;
	margin: -4px 0 0 0;
	vertical-align: middle;
}

.progressindicator {
	background: #2c3e50;
	border: 0;
	top: 0;
	font-size: 1pt;
	height: 4px;
	position: fixed;
	width: 100%;
}

.progressbar {
	background: #f39c12;
	border: 0;
	font-size: 1pt;
	height: 100%;
	width: 1%;
}

.elementlink {
	background-color: #2c3e50;
	/*border: 1px solid #2c3e50;*/
	border-radius: 0;
	color: #ffffff;
	display: inline-block;
    height: 14px;
	font-size: 8pt;
	margin: 2px;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

.elementlink:hover {
	background-color: #ffc300;
}

.elementlink:visited {
	background-color: #f39c12;
}

.code {
	background: #faf8f0;
	border-radius: 0;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	line-height: 140%;
	padding-bottom: 20px;
	padding-left: 10px;
}

.nextpage {
	page-break-after: always;
}

.unittest {
	padding: 3px;
}

.unitteststart {
	background: #e8e8e8;
}

.unittestokay {
	border-bottom: 1px solid gray;
}

.unittestfail {
	border-bottom: 1px solid gray;
}

.unittesterror {
	border-bottom: 1px solid gray;
}

.dashboardRectNormal {
	background-color: #9cbf72;
	font-size: 3em;
	font-variant: ;
	margin: 2px;
	padding: 10px 8px 8px 8px;
	color: #324320;
	height: 100px;
	width: 130px;
	text-align: left;
	font-weight: bold;
	display: inline-table;
	box-shadow: 1px 1px 2px;
	text-transform: uppercase;
}

.dashboardRectMediocre {
	background-color: #ffb444;
	font-size: 3em;
	margin: 2px;
	padding: 10px 8px 8px 8px;
	color: #653f0c;
	height: 100px;
	width: 130px;
	text-align: left;
	font-weight: bold;
	display: inline-table;
	box-shadow: 1px 1px 2px;
	text-transform: uppercase;
}

.dashboardRectMediocre:hover{
	background-color: #bbb;
}

.dashboardRectCritical{
	background-color: #e26d70;
	font-size: 3em;
	margin: 2px;
	padding: 10px 8px 8px 8px;
	color: #521114;
	height: 100px;
	width: 130px;
	text-align: left;
	font-weight: bold;
	display: inline-table;
	box-shadow: 1px 1px 2px;
	text-transform: uppercase;
}

.dashboardRectCritical:hover{
	background-color: #bbb;
}

.dashboardSmall {
	font-size: 0.4em;
	font-weight: bold;
	}

.dashboardCenter {
	text-align: center; 
}

.dashboardLink {
   color: white;
   text-decoration: none;
   font-weight: normal;
   padding: 0px;
}

.dashboardLink:hover {
   color: white;
   text-decoration: none;
   background-color: #bbb;
   font-weight: normal;
   padding: 0px;
}

.dashboardNoLink {
   color: white;
   text-decoration: none;
   font-weight: normal;
   padding: 0px;
}

.dashboardNoLink:hover {
   color: white;
   text-decoration: none;
   background-color:#fff;
   font-weight: normal;
   padding: 0px;
}